div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img{
    width: 400px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 13px;
    box-shadow: 4px  7px 7 px 0px ;
    cursor: pointer;
    margin: 10px;
    transition: 40ms;

}
div